#!/usr/bin/env bash 
if [ -z $BOOTER_DOT_NODEJS_RC ];then
  BOOTER_DOT_NODEJS_RC=$( ruby -e "puts File.realpath('${BASH_SOURCE[0]}')")
  BOOTER_DOT_NODEJS_HOME=$(dirname $BOOTER_DOT_NODEJS_RC)
  [ -d "$BOOTER_DOT_NODEJS_HOME/bin" ] && PATH=$PATH:$BOOTER_DOT_NODEJS_HOME/bin
else
  if [ -z $FORCE_RC ]; then
    echo Warning: has sourced $BOOTER_DOT_NODEJS_RC!
    return 1 
  fi
fi

function dot_nodejs(){
  tp=${1:-cd}
  case "$tp" in
    rc|file)
      echo "$BOOTER_DOT_NODEJS_RC"
      ;;
    home|root)
      echo $BOOTER_DOT_NODEJS_HOME
      ;;
    cd)
      cd "$BOOTER_DOT_NODEJS_HOME"
      ;;
    edit|vi)
      vi "$BOOTER_DOT_NODEJS_RC"
      $FUNCNAME reload
      ;;
    show)
      cat "$BOOTER_DOT_NODEJS_RC"
      ;;
    reload|source)
      FORCE_RC=1 source "$BOOTER_DOT_NODEJS_RC"
      echo ==has reloaded "$BOOTER_DOT_NODEJS_RC"
      ;;
    help|h)
      echo rc file: "$BOOTER_DOT_NODEJS_RC"
      type $FUNCNAME 
      ;;
    *)
      $FUNCNAME help
      ;;
  esac
}

alias dn=dot_nodejs

#################################
#    npm

# global npm install
gnpmi(){
  npm install -g $@
}

# npm list -g
gmodules(){
  cd $(npm config get prefix)/lib/node_modules
}
# es6 module do not support global packages!
